@font-face {
	font-family: 'Kobern';
	src: url(kobern-regular-webfont.ttf);
}

* {
	color: #e0e0e8;
	text-rendering: optimizeLegibility;
	max-width: 100ch;
}

body {
    -ms-overflow-style: none;
	background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

p {
	font-family: 'Kobern';
	font-size: 16px;
}

h1:not(#control-and-question-think-outside-the-bubble),h2, h3{
	padding-left: 12px;
}

p, ul, ol {
	padding-left: 24px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto; 
}

a#structure {
	font-size: 61px;
	line-height: 58px;
	text-transform: uppercase;
}

h1 {
	margin: 0 0;
	font-family: 'Kobern';
	text-transform: uppercase;
	line-height: 61px;
	font-size: 61px;
	font-weight: 400;
	letter-spacing: -1px;
}

#control-and-question-think-outside-the-bubble {
	padding-left: 0 !important;
	margin: 10px 0;
	line-height: 140px;
	font-size: 156px;
	font-weight: 100;
	letter-spacing: -10px;	
}

h2 {
	font-family: 'Kobern';
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 300;
}

h3 {
	font-family: 'Kobern';
	line-height: 1;
}

a {
	color: #4F5A5A;
	opacity: 0.3;
	text-decoration: none;
	transition: all 0.3s ease;
	font-size: 16px;
}

a:before {
	content: '🔗  '; 
	font-size: 16px;
}

a#structure:before {
	content: '';
}

#candle {
	margin: 0 auto;
}

#candle:before {
	content: '🕯  '; 
	font-size: 32px;
}

a:hover {
	opacity: 1;
}

strong {
	letter-spacing: 0.8px;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 50px;
	text-indent: -28px;
}

li {
	font-family: 'Kobern';
	line-height: 1.2;
}

ul li:before {
	content: "⟿ ";
	color: #4F5A5A;
}

hr {
	border-color: #4F5A5A;
	margin: 24px 0;
}

video {
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0.5;
	z-index: -999;
}

.header-section-number {
	display: none;
}