@charset "UTF-8";

/*::-webkit-scrollbar              {  }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {  }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  }*/


@font-face {
	font-family: 'Kobern';
	src: url(kobern-regular-webfont.ttf);
}

* {
	color: #e0e0e8;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
	padding: 0; 
}

*::selection {
	background: transparent;
}

.wrapper {
	position: relative;
	left: 8vw;
	max-width: 75ch !important;
}

table {
	margin: 24px 0;
	font-family: 'Kobern';
	table-layout: fixed;
	empty-cells: hide;
}

th, td {
	font-family: 'Kobern';
	width: 300px;
	overflow: hidden;
	text-overflow: ellipsis;
}

th:nth-child(1), th:nth-child(2) {
	text-align: left;
}

td:nth-child(1) {
	width: 30%;
}

td:nth-child(2) {
	width: 45%;
}

td:nth-child(3) {
	width: 12%;
}

th:nth-child(3), td:nth-child(3), th:nth-child(4), td:nth-child(4) {
	text-align: right;
}

body {
    -ms-overflow-style: none;
	background-color: black;
}

body::-webkit-scrollbar {
    display: none;
}

@keyframes test {
	0% { background-color: black; }
	50% { background-color: white; }
	100% { background-color: black; }
}

p {
	font-family: 'Kobern';
	font-size: 16px;
}

h1:not(#control-and-question-think-outside-the-bubble),h2, h3{
	padding-left: 12px;
}

p, ul, ol {
	padding-left: 24px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto; 
}

figcaption {
	font-size: 12px;
	text-align: center;
	font-family: 'Kobern';
	margin: 12px auto;
	color: #4F5A5A;
}

a {
	font-size: 16px;
	color: #4F5A5A;
	opacity: 0.3;
	text-decoration: none;
	transition: all .3s ease;
	cursor: pointer;
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
     -khtml-user-select: none; /* Konqueror */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}

.figure img {
	opacity: 1;
}

.figure figcaption {
	opacity: .7;
	transition: all .3s ease;
}

.figure:hover {
	opacity: 1;
}

a#structure, a#thesis, a#bulk {
	font-size: 61px;
	line-height: 58px;
	text-transform: uppercase;
}

a#structure:before, a#thesis:before, a#bulk:before {
	content: '';
}

.active {
	opacity: 1;
}

h1 {
	margin: 0 0;
	font-family: 'Kobern';
	text-transform: uppercase;
	line-height: 61px;
	font-size: 61px;
	font-weight: 400;
	letter-spacing: -1px;
}

#control-and-question {
	line-height: 110px;
	font-size: 122px;
	font-weight: 100;		
}

#control-and-question-think-outside-the-bubble {
	padding-left: 0 !important;
	margin: 10px 0;
	line-height: 140px;
	font-size: 156px;
	font-weight: 100;
	letter-spacing: -10px;	
	max-width: 100% !important;
	width: 100%;
}

h2 {
	font-family: 'Kobern';
	line-height: 1;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 300;
}

h3 {
	font-family: 'Kobern';
	line-height: 1;
}

a:before {
	content: '🔗  '; 
	font-size: 16px;
}

#candle:before {
	content: '🕯  '; 
	font-size: 32px;
}

#candle {
	margin: 0 auto;
}

a:hover {
	opacity: 1;
}

strong {
	letter-spacing: 0.8px;
}

ul {
	list-style: none;
	margin-left: 0;
	padding-left: 50px;
	text-indent: -28px;
}

li {
	font-family: 'Kobern';
	line-height: 1.2;
}

ul li:before {
	content: "⟿ ";
	color: #4F5A5A;
}

hr {
	border-color: #4F5A5A;
	margin: 24px 0;
}

video:not(#webcam) {
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0.5;
	z-index: -999;
}

.header-section-number {
	display: none;
}

#eco-icon {
	width: 20px;
	height: 20px;
	display: inline-block;
}

#eco-text:after {
	content: '  Please consider the environment before printing this document.';
	font-size: 12px;
	color: #26e00d;
}

#fbpurity {
	display: none;
}

p.notifications {
	position: fixed;
	top: -14px;
	font-size: 10px;
	background-color: blue;
	display: block;
	border-radius: 1px;
	padding: 2px 3px; 
}

p.notifications.people {
	position: absolute;
	left: 22px;
}

p.notifications.quotes {
	position: absolute;
	left: 57px;
}

p.notifications.world {
	position: absolute;
	left: 88px;
}

.tooltip {
	right: -100000px;
	position: absolute;
	top: -9px;
	z-index: 99999;
	width: 20px;
}

.tooltip.world {
	right: 8px;
}

.tooltip.quotes {
	right: 41px;
}

.tooltip.people {
	right: 74px;
}

.tooltip img {
	width: 100%;
	height: auto;
}

.slot-machine-wrapper {
	position: fixed;
	width: 230px;
	height: 260px;
	background-color: white;
	right: 120px;
	top: 55px;
	border-radius: 5px;
	background-image: url(experiment/services/img/dpr.jpg);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	display: none;
}

.icons {
	position: fixed;
	width: 100px;
	right: 120px;
	top: 15px;
}

.icons img {
	position: relative;
	float: left;
	display: inline-block;
	margin: 0 4px;
}


/**/
/*LANDING PAGE*/
/**/

.profiles-wrapper {
	width: 100%;
	display: flex;
	margin-top: -5vh;
	justify-content: space-around;
	bottom: 0;
	z-index: 9999;
}

.profiles-wrapper img {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 20px auto;
	opacity: 1;
	vertical-align: middle; 
}

#gonzo, #renegade, #optimo {
	width: 22vw;
}

.profiles-wrapper .slug {
	margin: 0;
	padding: 0;
	text-align: center;
}

.profiles-wrapper .description {
	color: rgba(255, 255, 255, 0);
}

.landing-wrapper {
	position: relative;
	margin-top: -5vh;
	background-color: blue;
	z-index: 100;
	width: 100vw;
	height: 100vh;
}

.landing {
	margin: 5vh auto 10vh auto;
	width: 66vw;
	height: auto;
	display: flex;
	justify-content: space-around;
	padding-top: 0;
	flex-wrap: nowrap;
}

.landing .l {
	padding: 0;
	margin: 0; 
	height: 33vw;
	overflow-y: hidden;
	/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);*/
}

.landing .m {
	padding: 0;
	margin: 0; 
	height: 33vw;
	overflow-y: hidden;
	/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);*/
}

.landing .r {
	padding: 0;
	margin: 0; 
	height: 33vw;
	overflow-y: hidden;
	/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);
	clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);*/
}

.landing h1 {
	padding: 0 !important;
	background: white; 
	font-size: 33vw;
	line-height: 33vw;
}

.landing h1 {
	padding: 0 !important;
	background: white; 
	font-size: 33vw;
	line-height: 33vw;
}

.landing-wrapper #spin p {
	position: fixed;
	top: 10px;
	left: 10px;
	color: #fff;
	font-size: 20px;
	line-height: 20px;
	z-index: 99999;
	display: block;
}

.debug {
	background: red !important;
}

/*COLORS L*/
.l h1:nth-child(3n) {
	background: #BFBFC7;
}
.l h1:nth-child(3n+1) {
	background: #5C5C5C;
}
.l h1:nth-child(3n+2) {
	background: #272727;
}

/*COLORS M*/
.m h1:nth-child(3n) {
	background: #272727;
}
.m h1:nth-child(3n+1) {
	background: #BFBFC7;
}
.m h1:nth-child(3n+2) {
	background: #5C5C5C;
}

/*COLORS R*/
.r h1:nth-child(3n) {
	background: #5C5C5C;
}
.r h1:nth-child(3n+1) {
	background: #272727;
}
.r h1:nth-child(3n+2) {
	background: #BFBFC7;
}

.l::-webkit-scrollbar, .m::-webkit-scrollbar, .r::-webkit-scrollbar {
	display: none;
}

/*ANIMATIONS*/

/*.spin {*/
	-webkit-animation: spin 1s infinite; /* Safari 4.0 - 8.0 */
	animation: spin 1s infinite;	
}

/*.winner {*/
	-webkit-animation: win 1s infinite; /* Safari 4.0 - 8.0 */
	animation: win 1s infinite;		
}

@keyframes spin {
	0% { -webkit-box-shadow: 0px -2px 115px 36px rgba(255,0,0,0); -moz-box-shadow: 0px -2px 115px 36px rgba(255,0,0,0); box-shadow: 0px -2px 115px 36px rgba(255,0,0,0);}
	100% { -webkit-box-shadow: 0px -2px 115px 36px rgba(255,0,0,1); -moz-box-shadow: 0px -2px 115px 36px rgba(255,0,0,1); box-shadow: 0px -2px 115px 36px rgba(255,0,0,1);}
}

@keyframes win {
	0% { -webkit-box-shadow: 0px -2px 115px 36px rgba(255,255,0,0); -moz-box-shadow: 0px -2px 115px 36px rgba(255,255,0,0); box-shadow: 0px -2px 115px 36px rgba(255,255,0,0);}
	100% { -webkit-box-shadow: 0px -2px 115px 36px rgba(255,255,0,1); -moz-box-shadow: 0px -2px 115px 36px rgba(255,255,0,1); box-shadow: 0px -2px 115px 36px rgba(255,255,0,1);}
}


/**/
/*PRINT BUTTON*/
/**/

#print {
	position: fixed;
	top: 10px;
	left: 10px;
	z-index: 99999999;
}

/**/
/*WEBCAM STUFF*/
/**/

#webcam {
	position: fixed;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100vh;
	display: block;
	margin: 0 auto;
	z-index: 999999;
	background-image: url('img/aaron-swartz.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	filter: grayscale(1);
	opacity: 1;
	animation: webcam 100s infinite;
	z-index: -10;
}

@keyframes webcam {

	0% { opacity: 0 }
	20% {  opacity: .1 }
	33% {  opacity: .03 }
	54% {  opacity: .05 }
	76% {  opacity: .15 }
	88% {  opacity: .02 }
	100% { opacity:  0 }

}

/**/
/*PRINT STYLES*/
/**/

@media print {

	@page { 
		size: portrait;  
	}

	body {
		background-color: rgba(255, 255, 255, 0);
		background-image: url(img/Selfcontrol.png) no-repeat;
		background-position: bottom left;
		background-size: 30px;

    	filter: Gray();
    	filter: url('#grayscale'); 
    	-webkit-filter: grayscale(100%); 
    	filter: grayscale(100%); 
	}

	* {
		font-family: 'FournierMT-Regular' !important;
		max-width: 100% !important;
		color: black;
		opacity: 1;
	}

	.wrapper {
		position: relative;
		left: 0;
		max-width: 100% !important;
	}

	.profiles-wrapper, .landing-wrapper, .slot-machine-wrapper, .icons, video:not(#webcam), iframe, #structure, #section a, #bulk, #thesis, #print, hr {
		display: none !important;
	}

	h1, h2 {
		font-weight: 100 !important;
		font-style: normal;
	}

	h1, h2, h3, p, strong, .someClass, em, li {
		color: #000;
		max-width: 70%;
	}

	p, li, a {
		font-size: 20px;
		line-height: 22px;
	}

	em {
		font-family: 'FournierMT-Italic' !important;
		font-style: italic;
	}

	p {
		max-width: 90ch !important;
		margin-left: 0;
		padding-left: 0;
	}

	ul li:before {
		content: "* ";
		color: #4F5A5A;
	}

	a {
		opacity: 1;
		color: #3A3A3A;
	}

	.gon, .opt, .ren {
		text-indent: 20px;
	}

	.gon {
		margin-left: 50px;
	}

	.opt {
		margin-left: 120px;
	}

	.ren {
		margin-left: 190px;
	}

	.no-indent {
		text-indent: 0;
	}

	.pagenumbers p {
		position: absolute;
		text-align: right;
		right: 0;
		top: 0;
		line-height: 10px;
		font-size: 7px;
		text-decoration: underline;
		opacity: 0.5;
	}

	.pagenumbers span:nth-of-type(10n) {
		opacity: 1 !important;
	}

	.pagenumbers span:nth-of-type(10n):after {
		content: 'px';
	}


	#unknown-1, #unknown-2, #webcam {
		display: block;
		margin: 0 auto; 
		border: 1px solid transparent;
		background-image: url('https://spellchek.files.wordpress.com/2013/12/silhouette.jpg');
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		border-radius: 50%; 
		opacity: 0.7;	
	}

	#unknown-1 {
		width: 500px;
		height: 500px;
		margin: 0 auto 0 10px;
	}

	#unknown-2 {
		width: 500px;
		height: 500px;
		margin: -400px 10px 0 auto;
	}

	#webcam {
		border-radius: 50%;
		margin: -250px auto auto auto; 
		width: auto;
		height: 500px;
	}

	#webcam {
		position: relative;
		width: 700px !important;
		animation: none;
		min-width: 0;
		min-height: 0;
		opacity: 0.7;
	}

	#datetime {
		text-align: center;
		width: 100%;
		margin 0 !important; 
		max-width: 100% !important;
		font-weight: 900;
	}

	.fig {
		font-weight: 900;
		text-align: left;
		font-style: italic;
		margin: 15px 0; 
	}

	.figure {
		position: relative;
		float: left;
		display: inline-block;
		padding: 0 15px;
		page-break-inside: avoid;
	}

	.figure .caption {
		text-align: center;
		font-family: 'FournierMT-Italic' !important;
		max-width: 50ch !important;
	}

	img {
		max-height: 250px;
		max-width: 400px !important;
		border: 1px solid black ;
		filter: grayscale(1);
		margin-left: 0;
	}

	a[href="#fnref1"], a[href="#fnref2"], a[href="#fnref3"], a[href="#fnref4"], a[href="#fnref5"], a[href="#fnref6"], a[href="#fnref7"], a[href="#fnref8"], a[href="#fnref9"], a[href="#fnref10"], a[href="#fnref11"], a[href="#fnref12"], a[href="#fnref13"], a[href="#fnref14"], a[href="#fnref15"], a[href="#fnref16"], a[href="#fnref17"], a[href="#fnref18"], a[href="#fnref19"], a[href="#fnref20"], a[href="#fnref21"], a[href="#fnref22"], a[href="#fnref23"], a[href="#fnref24"], a[href="#fnref25"], a[href="#fnref26"], a[href="#fnref27"], a[href="#fnref28"], a[href="#fnref29"] {
		display: none;
	}

	#fbpurity {
		display: block;
	}

	#candle {
		margin-left: -12px;
	}

	#eco-text:after {
		content: '  You have decided to print. Do not forget to plant a tree.';
		font-size: 12px;
		color: #f00;
	}

	#control-and-question {
		line-height: 87px;
		font-size: 122px;
		text-align: center;
	}	

	#subtitle {
		text-align: center;
	}

	#ip-address, #author {
 		display: inline-block;
 		text-align: center;
 		width: 50%;
 		margin: 0 0 550px 0;  
	}

	footer {
		page-break-after: always;
	}

}










