.profiles-wrapper {
	width: 100%;
	display: flex;
	margin-top: -12vh;
	justify-content: space-around;
	// bottom: 0;
	z-index: 9999;
	img {
		width: 4vw;
		height: 4vw;
		border-radius: 50%;
		margin: 20px auto;
		opacity: 1;
		vertical-align: middle;
	}
	.slug {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.description {
		color: rgba(255, 255, 255, 0);
		p {
			padding: 0 20px;
		}
	}
	#gonzo, #renegade, #optimo {
		width: 33.33%;
	}
	#renegade {
		margin-top: 5vh;
	}

	#gonzo {
		.avatar {
			margin: 0 0 1.5vh 10vw;
		}
		.slug {
			margin-left: -11vw;
		}
	}

	#optimo {
		.avatar {
			margin: 0 0 1.5vh 20vw;
		}
		.slug {
			margin-right: -12vw;
		}
	}

	#renegade {
		.avatar {
			margin-bottom: 1.5vh;
		}
		.slug {

		}
	}
}

$slot-size: 30vw;

.l, .m, .r {
	pointer-events: none;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	 -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Firefox */
			-ms-user-select: none; /* Internet Explorer/Edge */
					user-select: none; /* Non-prefixed version, currently
																supported by Chrome and Opera */
   h1 {
		 margin: 0;
		 padding: 0;
	 }

}

#spin-top, #spin-bottom {
	width: 100vw ;
	background: blue;
	text-align: center;
	p {
		margin: 0;
		padding: $line-height / 2 0;
		top: 10px;
		left: 10px;
		color: #fff;
		font-size: 20px;
		line-height: 20px;
		z-index: 99999;
		display: block;
		cursor: pointer;
	}
	opacity: 0.9;
	&:hover {
		opacity: 1;
	}
}

#spin-top {
	margin: $line-height * 3 0 0 0;
}


.landing-wrapper {
	position: relative;
	width: 100vw;
	height: 90vh;
	background-color: #737373;
		opacity: 0.9;
	z-index: 100;
	.landing {
		margin: 0 auto 10vh auto;
		width: $slot-size * 2;
		height: auto;
		display: flex;
		justify-content: space-around;
		padding-top: 0;
		flex-wrap: nowrap;
		h1 {
			padding: 0 !important;
			background: white;
			font-size: $slot-size;
			line-height: $slot-size;
		}
		.l, .m, .r {
			padding: 0;
			margin: 0;
			height: $slot-size;
			overflow-y: hidden;
			/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);
			clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);*/
		}
	}
}

/*COLORS L*/
.l h1:nth-child(3n) {
	background: #BFBFC7;
}
.l h1:nth-child(3n+1) {
	background: #5C5C5C;
}
.l h1:nth-child(3n+2) {
	background: #272727;
}

/*COLORS M*/
.m h1:nth-child(3n) {
	background: #272727;
}
.m h1:nth-child(3n+1) {
	background: #BFBFC7;
}
.m h1:nth-child(3n+2) {
	background: #5C5C5C;
}

/*COLORS R*/
.r h1:nth-child(3n) {
	background: #5C5C5C;
}
.r h1:nth-child(3n+1) {
	background: #272727;
}
.r h1:nth-child(3n+2) {
	background: #BFBFC7;
}

.l::-webkit-scrollbar, .m::-webkit-scrollbar, .r::-webkit-scrollbar {
	display: none;
}
