.profiles-wrapper {
	width: 100%;
	display: flex;
	margin-top: -5vh;
	justify-content: space-around;
	bottom: 0;
	z-index: 9999;
	img {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin: 20px auto;
		opacity: 1;
		vertical-align: middle; 
	}
	.slug {
		margin: 0;
		padding: 0;
		text-align: center;
	}
	.description {
		color: rgba(255, 255, 255, 0);
	}
	#gonzo, #renegade, #optimo {
		width: 22vw;
	}	
}

$slot-size: 33vw;

.landing-wrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	background-color: $background-color;
	margin-top: -5vh;
	z-index: 100;
	.landing {
		margin: 5vh auto 10vh auto;
		width: 66vw;
		height: auto;
		display: flex;
		justify-content: space-around;
		padding-top: 0;
		flex-wrap: nowrap;
		h1 {
			padding: 0 !important;
			background: white; 
			font-size: $slot-size;
			line-height: $slot-size;
		}
		.l, .m, .r {
			padding: 0;
			margin: 0; 
			height: $slot-size;
			overflow-y: hidden;
			/*-webkit-clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);
			clip-path: polygon(20% 0%, 80% 0%, 100% 16%, 100% 89%, 80% 100%, 20% 100%, 0 88%, 0 16%);*/
		}
	}
	#spin {
		p {
			position: fixed;
			top: 10px;
			left: 10px;
			color: #fff;
			font-size: 20px;
			line-height: 20px;
			z-index: 99999;
			display: block;
			cursor: pointer;
		}
	}
}

/*COLORS L*/
.l h1:nth-child(3n) {
	background: #BFBFC7;
}
.l h1:nth-child(3n+1) {
	background: #5C5C5C;
}
.l h1:nth-child(3n+2) {
	background: #272727;
}

/*COLORS M*/
.m h1:nth-child(3n) {
	background: #272727;
}
.m h1:nth-child(3n+1) {
	background: #BFBFC7;
}
.m h1:nth-child(3n+2) {
	background: #5C5C5C;
}

/*COLORS R*/
.r h1:nth-child(3n) {
	background: #5C5C5C;
}
.r h1:nth-child(3n+1) {
	background: #272727;
}
.r h1:nth-child(3n+2) {
	background: #BFBFC7;
}

.l::-webkit-scrollbar, .m::-webkit-scrollbar, .r::-webkit-scrollbar {
	display: none;
}