#unknown-1, #unknown-2 {
	display: none;
}

body {
	margin: 0;
	padding: 0; 
	background: black;
	-ms-overflow-style: none;
	.wrapper {
		position: relative;
		left: 0;
		max-width: 100ch !important;
	}
	img {
		max-width: 100%;
		height: auto;
		display: block;
		margin: 0 auto; 
	}
}