//
// Typography
//

$font-size-small: 12px;
$line-height-small: 14px;

$font-size: 16px;
$line-height: 22px;

$system-stack: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
$serif-stack: 'FournierMT-Regular', 'times new roman', times, georgia, serif;
$sans-serif-stack: 'Kobern-light', helvetica, arial, sans-serif;
$display-stack: "Comic Sans", "Comic Sans MS";

//
// Colors
//

$background-color: #fff;
$main-color: #fff;

$primary-dark: ;
$secondary-dark: #4F5A5A;

$primary-light: ;
$secondary-light: ;

//
// Space
//

//
//  Breakpoints
//

$breakpoints: (
  'small': (max-width: 700px),
  'medium': (max-width: 1000px),
  'large': (max-width: 1600px),
  'short': (max-height: 600px),
);
